.body {
  background-color: black;
}

.logo {
  position:fixed;
	top:0;
	left:0;
}

.detail_title{
  position:fixed;
  margin-top: 150px;
	padding-left:140px;
  font-size:25px;
}

.post img{
  width: 280px;
  position:fixed;
  margin-top: 200px;
	padding-left:100px;
  font-size:25px;
}

.overview h1 {
  position:fixed;
  margin-top: 550px;
	padding-left:100px;
  font-size:17px;
  color:white;
  max-width:500px;
}
.overview p {
  position:fixed;
  margin-top: 575px;
	padding-left:100px;
  font-size:15px;
  color:white;
  max-width:500px;
}

.trailer{
  position:fixed;
	top:180px;
	left:800px;
  width:1000px;
}

.watchNow button{
  position:fixed;
	top:600px;
	left:800px;
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

.detail_eyeball_btn {
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

.detail_watch_btn {
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

.home button{
  position:fixed;
	top:20px;
	right:30px;
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

.price{
  position:fixed;
	top:620px;
	left:1100px;
  font-size:15px;
  color:white;
}

.watched{
  position:fixed;
    top:600px;
    left:1300px;
    font-size:18px;
    color:white;
}

.recommended{
  position:fixed;
    top:800px;
    left:100px;
    width:90%;
    color:white;
}

.watchProvider{
  position:fixed;
	top:700px;
	left:800px;
}