.profile {
  background-color: black;
}
.history {
  color: white;
}
.remove_btn{
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  text-align: center;
  border-radius: 0px;
  font-weight: bold;
  width: 50px;
}

.history-title{
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.no-history-title{
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.profile-backBtn {
  float: right;
  background-color:rgb(123, 16, 16);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 40px;
  margin-right: 50px;
}

.clear_history_btn {
  float: right;
  text-align: center;
  font-size: 18px;
  margin-right: 80px;
  color: white;
  border: none;
  background-color: inherit;
  /* padding: 14px 28px; */
  cursor: pointer;
  display: inline-block;
}

.clear_history_btn:hover {
  font-weight: bolder;
}

.remove_btn:hover {
  font-size: 20px;
}