.profile {
  background-color: black;
}
.history {
  color: white;
}

.userinfo {
  /* background-color: rgb(123, 16, 16); */
  height: 10%;
  width: 50%;
  margin-bottom: 13%;
  margin-top: 4%;
}

.remove_btn {
  background-color: black;
  color: white;
  border: none;
  font-size: 17px;
  text-align: center;
  border-radius: 0px;
  font-weight: bold;
  width: 50px;
}

.userinfo-title {
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}


.userinfo-username-title {
  padding-left: 150px;
  margin-top: 30px;
  font-weight: bold;
}

.userinfo-username {
  padding-left: 150px;
  margin-top: 2px;
  text-decoration: underline;
}

.userinfo-email-title {
  padding-left: 150px;
  margin-top: 30px;
  font-weight: bold;
}

.userinfo-email {
  padding-left: 150px;
  margin-top: 2px;
  text-decoration: underline;
}

.history-title {
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.no-history-title {
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.profile-updateUsernameBtn {
  float: right;
  background-color:rgb(123, 16, 16);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 40px;
  margin-right: 50px;
}

.profile-updatePWBtn{
  float: right;
  background-color:rgb(123, 16, 16);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 40px;
  margin-right: 50px;
}

.profile-backBtn {
  float: right;
  background-color:rgb(123, 16, 16);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  margin: 40px;
  margin-right: 50px;
}

.clear_history_btn {
  float: right;
  text-align: center;
  font-size: 18px;
  margin-right: 80px;
  color: white;
  border: none;
  background-color: inherit;
  cursor: pointer;
  /* display: inline-block; */
}

.clear_history_btn:hover {
  font-weight: bolder;
}

.remove_btn:hover {
  font-size: 20px;
}

.carousel {
  width: 90%;
  height:260px;
}