@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #000000;
}

input[type='text'],
input[type='password'] {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
}

input[type='submit'] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.sign-up-button{
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
}


.sign-up-button:disabled,
.sign-up-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.login-form {
  background-color: #7E3B3B;
  padding: 2rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  height: 300px;
}

/* .list-container {
  display: flex;
} */

.error {
  color: red;
  font-size: 12px;
}

.title {
  color: #BF9D9D;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-bottom: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 30px;
}

.top {
  display: flex;
}

.back-btn {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  left: 590px;
  top: -125px;
  height: fit-content;
  font-size: 24px;
}

.logo {
  height: 150px;
  width: 300px;
  position: relative;
  right: 580px;
  top: -115px;
  max-width: 100%;
  max-height: fit-content;
}

