
section {
  position:fixed;
	top:180px;
	left:600px;
  width:200%;
  background-color: #7E3B3B;
}


.sign-up-button{
  margin-top: 18px;
  cursor: pointer;
  font-size: 24px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
}

