.Main {
  background-color: black;
}

.Navigation-Bar {
  display: inline-block;
  width: 100%;
}

.main-logo {
  float:left;
}

/* input {
  width: 220%;
  height: 50px;
  font-size: 2.5em;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

input:focus {
  outline-width: 0;
} */

.main-sb {
  float:left;
  padding-top: 3.5%;
  padding-left: 80px;
}

.main-buttons {
  padding-top: 3%;
  padding-right:30px;
}

.main-logout-btn , .main-profile-btn{
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 1.5em;
}

.swiper {
  width: 90%;
  height:260px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next {
  color: red;
}

.main-genre {
  padding-left: 120px;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.main-slide {
  background-color: black;
}

.main-card-title, .main-card-watch {
  color: white;
}

.watch_btn {
  background-color:rgb(123, 16, 16);
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  width: 80px;
  height:30px;
}

.eyeball_btn{
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  border-radius: 0px;
  width: 80px;
}