body {
  background-color: black;
}

.Navigation-Bar {
  display: inline-block;
  width: 100%;
}

.landing-logo {
  float:left;
}

.landing-button-container {
  display: flex;
  justify-content: center;
}

.get-started-button {
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
}

.main-logout-btn {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  color: white;
  border-color: transparent;
  font-size: 1.5em;

  cursor: pointer;
  font-size: 24px;
  background: #8A1E1E;
  border: 1px solid #8A1E1E;
  color: #fff;
  padding: 10px 20px;
}

.slogan {
  color:white;
  position: absolute;
  top: 40%;
  left: 33.5%;
  font-size: xx-large;
}

.get-started {
  position: absolute;
  top: 50%;
  left: 46.5%;
}