body {
  background-color: black;
}

.Navigation-Bar {
  display: inline-block;
  width: 100%;
}

.landing-logo {
  float:left;
}

.landing-button-container {
  display: flex;
  justify-content: center;
}

.get-started-button {
  position:fixed;
	top:400px;
	left:800px;
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 2px;
  cursor: pointer;
  font-size: 20px;
}

.main-logout-btn {
  position:fixed;
	top:20px;
	right:30px;
  text-align: center;
  background-color: #8A1E1E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
}

.slogan {
  color:white;
  position: absolute;
  top: 40%;
  left: 33.5%;
  font-size: xx-large;
  margin: 0 auto;
}

.get-started {
  position: absolute;
  top: 50%;
  left: 46.5%;
}

.landing-movies {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0%;
  filter: brightness(50%);
}