@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Rajdhani:wght@300&display=swap');

.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #000000;
}

input[type='text'],
input[type='password'] {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
}

input[type='submit'] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  background: #8A1E1E;
  border: 1px solid #000000;
  color: #fff;
  padding: 10px 20px;
}

input[type='submit']:hover {
  background-color: #830000;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: #7E3B3B;
  padding: 1rem;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 600px;
  height: 300px;
}

/* .list-container {
  display: flex;
} */

.error {
  color: red;
  font-size: 12px;
}

.title-log {
  color: #BF9D9D;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
}

.top {
  display: flex;
  margin-bottom: -100px;
}

.back-btn-log {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #8A1E1E;
  border: 1px solid #000000;
  color: #fff;
  padding: 10px 20px;
  position: relative;
  left: 690px;
  top: -230px;
  /* height: fit-content; */
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 0%;
}

.back-btn-log:hover {
  background-color: #830000;
}


.logo {
  height: 150px;
  width: 300px;
  position: relative;
  right: 590px;
  top: -165px;
  max-width: 100%;
  max-height: fit-content;
}



